{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/index.js' %}" type="module" ></script>
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
    <div id="messageDiv">

    </div>
    <!-- User will write new post here-->
    <div class="newPost">
        <h3>New post</h3>
        <form id="postForm">
            <textarea id="userPostContent" autocomplete="of" placeholder="Write your post's content here."></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
    {% endif %}

    <!-- Display posts here -->
     <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="postsContent">
                    <a  class="nav-link" href="{% url 'view_user' post.user.id %}"> <p class="postUser">{{ post.user.username }} </p></a>
                    {% if user == post.user %}
                    <button class="editBtn">Edit</button>
                    {% endif %}
                    <p class="postContent">{{ post.content }}</p>
                    <p class="datetime"> {{ post.datetime }} </p>
                </div> 

                <div class="postsBtn">
                    <button class="likeBtn">
                        <i class="fa-solid fa-heart-circle-plus fa-lg"></i>
                    </button>
                    <button class="commentBtn">Comment</button>
                </div>

            </div>
        {% endfor %}
     </div>
{% endblock %}